#btn2{
    background-color: blue;
    font-size: 20px;
    color:tomato;
    border-radius: 50px;


}
#btn{
    background-color: red;
    font-size: 20px;
    color:black;
    border-radius: 50px;


}
#btn1{
    background-color: turquoise;
    font-size: 20px;
    color:black;
    border-radius: 50px;


}
#myBtn{
    background-color: chocolate;
    border-radius: 40px;
    columns: black;
    font-size: 20px;
}